@import "tailwindcss"; /* Importação do Tailwind CSS, necessária para o funcionamento da configuração */
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Typography */
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-bebas-neue: var(--bebas-neue);

  /* Media queries (screen sizes) */
  --breakpoint-xs: 480px;

  /* Cores principais do tema */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  /* Cores para componentes */
  /* Card */
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  /* Popover */
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  /* Cores para gráficos */
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  /* Cores personalizadas */
  --color-primary: #e7c9a5;
  --color-primary-admin: #25388c;

  /* Paleta de cores auxiliares */
  --color-green: #027a48;
  --color-green-100: #ecfdf3;
  --color-green-400: #4c7b62;
  --color-green-500: #2cc171;
  --color-green-800: #027a48;

  --color-red: #ef3a4b;
  --color-red-400: #f46f70;
  --color-red-500: #e27233;
  --color-red-800: #ef3a4b;

  --color-blue-100: #0089f1;

  --color-light-100: #d6e0ff;
  --color-light-200: #eed1ac;
  --color-light-300: #f8f8ff;
  --color-light-400: #edf1f1;
  --color-light-500: #8d8d8d;
  --color-light-600: #f9fafb;
  --color-light-700: #e2e8f0;
  --color-light-800: #f8fafc;

  --color-dark-100: #16191e;
  --color-dark-200: #3a354e;
  --color-dark-300: #232839;
  --color-dark-400: #1e293b;
  --color-dark-500: #0f172a;
  --color-dark-600: #333c5c;
  --color-dark-700: #464f6f;
  --color-dark-800: #1e2230;

  --color-gray-100: #cbd5e1;

  /* Configuração de raios para bordas */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --radius: 0.625rem;
  --background: 0 0% 100%;
  --foreground: 264.7 4.2% 13.1%;
  --card: 0 0% 100%;
  --card-foreground: 264.7 4.2% 13.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 264.7 4.2% 13.1%;
  --secondary: 247.9 0.7% 96.8%;
  --secondary-foreground: 265.7 4.2% 20.8%;
  --muted: 247.9 0.7% 96.8%;
  --muted-foreground: 257.4 4.6% 55.4%;
  --accent: 247.9 0.7% 96.8%;
  --accent-foreground: 265.7 4.2% 20.8%;
  --destructive: 27.3 24.5% 57.7%;
  --border: 255.5 1.3% 92.9%;
  --input: 255.5 1.3% 92.9%;
  --ring: 256.8 4% 70.4%;
}

.dark {
  --background: 264.7 4.2% 13.1%;
  --foreground: 247.9 0.3% 98.4%;
  --card: 265.7 4.2% 20.8%;
  --card-foreground: 247.9 0.3% 98.4%;
  --popover: 265.7 4.2% 20.8%;
  --popover-foreground: 247.9 0.3% 98.4%;
  --secondary: 260 4.1% 27.9%;
  --secondary-foreground: 247.9 0.3% 98.4%;
  --muted: 260 4.1% 27.9%;
  --muted-foreground: 256.8 4% 70.4%;
  --accent: 260 4.1% 27.9%;
  --accent-foreground: 247.9 0.3% 98.4%;
  --destructive: 22.2 19.1% 70.4%;
  --border: 0 0% 100% / 10%;
  --input: 0 0% 100% / 15%;
  --ring: 264.4 2.7% 55.1%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Background images */
  .bg-pattern {
    background-image: url("/images/pattern.webp");
  }
  /* Gradients */
  .gradient-vertical {
    background: linear-gradient(180deg, #12141d 0%, #12151f 100%);
  }

  .gradient-gray {
    background: linear-gradient(270deg, #37363a 0%, #353637 100%);
  }

  .gradient-blue {
    background: linear-gradient(180deg, #232839 0%, #12141d 100%);
  }

  /* Layout */
  .root-container {
    @apply flex min-h-screen flex-1 flex-col bg-cover bg-top bg-dark-100 px-5 xs:px-10 md:px-16;
  }

  /* Book Card */
  .book-title {
    @apply mt-2 line-clamp-1 text-base font-semibold text-white xs:text-xl;
  }

  .book-genre {
    @apply mt-1 line-clamp-1 text-sm italic text-light-100 xs:text-base;
  }

  .book-loaned {
    @apply flex flex-row items-center gap-1 max-xs:justify-center;
  }

  .book-btn {
    @apply bg-dark-600 mt-3 min-h-14 w-full font-bebas-neue text-base text-primary;
  }

  /* Book Cover */
  .book-cover_extra_small {
    @apply w-[28.95px] h-10;
  }

  .book-cover_small {
    @apply w-[55px] h-[76px];
  }

  .book-cover_medium {
    @apply w-[144px] h-[199px];
  }

  .book-cover_regular {
    @apply xs:w-[174px] w-[114px] xs:h-[239px] h-[169px];
  }

  .book-cover_wide {
    @apply xs:w-[296px] w-[256px] xs:h-[404px] h-[354px];
  }

  /* Book Overview */
  .book-overview {
    @apply flex flex-col-reverse items-center gap-12 sm:gap-32 xl:flex-row xl:gap-8;
  }

  .book-overview h1 {
    @apply text-5xl font-semibold text-white md:text-7xl;
  }

  .book-info {
    @apply mt-7 flex flex-row flex-wrap gap-4 text-xl text-light-100;
  }

  .book-copies {
    @apply flex flex-row flex-wrap gap-4 mt-1;
  }

  .book-copies p {
    @apply text-xl text-light-100;
  }

  .book-copies p span {
    @apply ml-2 font-semibold text-primary;
  }

  .book-description {
    @apply mt-2 text-justify text-xl text-light-100;
  }

  .book-overview_btn {
    @apply mt-4 min-h-14 w-fit bg-primary text-dark-100 hover:bg-primary/90 max-md:w-full;
  }

  /* File Upload */
  .upload-btn {
    @apply flex min-h-14 w-full items-center justify-center gap-1.5 rounded-md;
  }

  .upload-filename {
    @apply mt-1 text-center text-xs;
  }

  /* Book List */
  .book-list {
    @apply mt-10 flex flex-wrap gap-5 max-xs:justify-between xs:gap-10;
  }

  /* Auth */
  .auth-container {
    @apply relative flex flex-col-reverse text-light-100 sm:flex-row;
  }

  .auth-form {
    @apply my-auto flex h-full min-h-screen flex-1 items-center /*bg-pattern*/ bg-cover bg-top bg-dark-100 px-5 py-10;
  }

  .auth-box {
    @apply /*gradient-vertical*/ mx-auto flex max-w-xl flex-col gap-6 rounded-lg p-10;
  }

  .auth-illustration {
    @apply sticky h-40 w-full sm:top-0 sm:h-screen sm:flex-1;
  }
}

@layer components {
  .form-btn {
    @apply bg-primary text-dark-100 hover:bg-primary inline-flex min-h-14 w-full items-center justify-center rounded-md px-6 py-2 font-bold text-base;
  }

  .form-input {
    @apply w-full min-h-14 border-none text-base font-bold placeholder:font-normal text-white placeholder:text-light-100 focus-visible:ring-0 focus-visible:shadow-none bg-dark-300;
  }
}
