@import "tailwindcss"; /* Importação do Tailwind CSS, necessária para o funcionamento da configuração */
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  /* Typography */
  --font-sans: "IBM Plex Sans", sans-serif;
  --font-bebas-neue: var(--bebas-neue);

  /* Media queries (screen sizes) */
  --breakpoint-xs: 480px;

  /* Cores principais do tema */
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  /* Cores para componentes */
  /* Card */
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  /* Popover */
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  /* Cores para gráficos */
  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  /* Cores personalizadas */
  --color-primary: #e7c9a5;
  --color-primary-admin: #25388c;

  /* Paleta de cores auxiliares */
  --color-green: #027a48;
  --color-green-100: #ecfdf3;
  --color-green-400: #4c7b62;
  --color-green-500: #2cc171;
  --color-green-800: #027a48;

  --color-red: #ef3a4b;
  --color-red-400: #f46f70;
  --color-red-500: #e27233;
  --color-red-800: #ef3a4b;

  --color-blue-100: #0089f1;

  --color-light-100: #d6e0ff;
  --color-light-200: #eed1ac;
  --color-light-300: #f8f8ff;
  --color-light-400: #edf1f1;
  --color-light-500: #8d8d8d;
  --color-light-600: #f9fafb;
  --color-light-700: #e2e8f0;
  --color-light-800: #f8fafc;

  --color-dark-100: #16191e;
  --color-dark-200: #3a354e;
  --color-dark-300: #232839;
  --color-dark-400: #1e293b;
  --color-dark-500: #0f172a;
  --color-dark-600: #333c5c;
  --color-dark-700: #464f6f;
  --color-dark-800: #1e2230;

  --color-gray-100: #cbd5e1;

  /* Configuração de raios para bordas */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
}

:root {
  --radius: 0.625rem;
  --background: 0 0% 100%;
  --foreground: 264.7 4.2% 13.1%;
  --card: 0 0% 100%;
  --card-foreground: 264.7 4.2% 13.1%;
  --popover: 0 0% 100%;
  --popover-foreground: 264.7 4.2% 13.1%;
  --secondary: 247.9 0.7% 96.8%;
  --secondary-foreground: 265.7 4.2% 20.8%;
  --muted: 247.9 0.7% 96.8%;
  --muted-foreground: 257.4 4.6% 55.4%;
  --accent: 247.9 0.7% 96.8%;
  --accent-foreground: 265.7 4.2% 20.8%;
  --destructive: 27.3 24.5% 57.7%;
  --border: 255.5 1.3% 92.9%;
  --input: 255.5 1.3% 92.9%;
  --ring: 256.8 4% 70.4%;
}

.dark {
  --background: 264.7 4.2% 13.1%;
  --foreground: 247.9 0.3% 98.4%;
  --card: 265.7 4.2% 20.8%;
  --card-foreground: 247.9 0.3% 98.4%;
  --popover: 265.7 4.2% 20.8%;
  --popover-foreground: 247.9 0.3% 98.4%;
  --secondary: 260 4.1% 27.9%;
  --secondary-foreground: 247.9 0.3% 98.4%;
  --muted: 260 4.1% 27.9%;
  --muted-foreground: 256.8 4% 70.4%;
  --accent: 260 4.1% 27.9%;
  --accent-foreground: 247.9 0.3% 98.4%;
  --destructive: 22.2 19.1% 70.4%;
  --border: 0 0% 100% / 10%;
  --input: 0 0% 100% / 15%;
  --ring: 264.4 2.7% 55.1%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .bg-pattern {
    background-image: url("/images/pattern.webp");
  }

  .root-container {
    @apply flex min-h-screen flex-1 flex-col bg-cover bg-top bg-dark-100 px-5 xs:px-10 md:px-16;
  }
}
